<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>fr.insa-rennes.clubrobot.serialrenamerd</string>
		<key>Program</key>
		<string>/usr/local/bin/serialrenamerd</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/opt/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:REPOSITORY</string>
		</dict>
		<key>StandardOutPath</key>
		<string>/tmp/serialrenamerd.stdout</string>
		<key>StandardErrorPath</key>
		<string>/tmp/serialrenamerd.stderr</string>
	</dict>
</plist>
